<nav>
    <ul class="pagination">
        {% set beginPagination = (currentPage - 3) < 1 ? 1 : currentPage - 3 %}
        {% set endPagination = (currentPage + 3) > nbPages ? nbPages : currentPage + 3 %}

        {% if beginPagination > 1 %}
            <li class="page-item">
                <a class="page-link" href="?page=1">Premiere page</a>
            </li>
        {% endif %}

        {% for page in beginPagination .. endPagination %}
            <li class="page-item {{ page == currentPage?' active':'' }}">
                <a class="page-link" href="?page={{ page }}">
                    {{ page }}
                </a>
            </li>
        {% endfor %}

        {% if endPagination < nbPages %}
            <li class="page-item">
                <a class="page-link" href="?page={{ nbPages }}">Derniere page</a>
            </li>
        {% endif %}
    </ul>
</nav>