<!-- widget -->
<div class="sb-widget">
    <a href="./" class="add">
        <img src="img/add.jpg" alt="Vincent-dev.com">
    </a>
</div>
<!-- widget -->
<div class="sb-widget">
    <h2 class="sb-title">Derniers Posts</h2>
    <div class="sb-latest-post-widget">
        {% include 'Default/_latestPosts.html.twig' %}
    </div>
</div>