
<!-- widget -->
<div class="sb-widget">
    <a href="./" class="add">
        <img src="img/add.jpg" alt="Vincent-dev.com">
    </a>
</div>
<!-- widget -->
<div class="sb-widget">
    <h2 class="sb-title">Derniers Posts</h2>
    <div class="sb-latest-post-widget">
        {% include 'Default/_latestPosts.html.twig'  %}
    </div>
</div>
<!-- widget -->
<div class="sb-widget">
    <h2 class="sb-title">Derniers Commentaires</h2>
    <ul>
        <li><a href="">Development</a></li>
        <li><a href="">SEO</a></li>
        <li><a href="">Tips & Triks</a></li>
        <li><a href="">Hosting</a></li>
    </ul>
</div>
<div class="sb-widget">
    <h2 class="sb-title">Tag</h2>
    <div class="sb-tag-widget">
        <a href="">development</a>
        <a href="" class="big-tag">SEO</a>
        <a href="">website</a>
        <a href="">hosting</a>
        <a href="">tips</a>
        <a href="">coding</a>
        <a href="">video</a>
        <a href="">marketing</a>
        <a href="">analizing</a>
    </div>
</div>