{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Connexion {% endblock %}

{% block main %}
    <!-- Page Top section -->
    <section class="page-top-section set-bg" data-setbg="img/page-top-bg.jpg">
        <div class="container">
            <h2>Connexion</h2>
            <div class="site-breadcrumb">
                <a href="home">Accueil</a> / <span>Connexion</span>
            </div>
        </div>
    </section>
    <!-- Page Top section end -->
    <!-- Domain search section -->
    <section class="domain-search-section sc-connect-page">
        <div class="container connect-page">
            <div class="section-title2">
                <img src="./img/icons/lock.png" alt="#">
            </div>
            <div class="domain-form-warp mt-3">
                <form class="domain-search-form df-white-bg" method="post">
                    {% if errors is defined %}
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                {% for error in errors.user %}
                                    <li>
                                        {{ error }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <input type="text" placeholder="Votre identifiant" name="login" value="{{ formUser.email }}" class="mb-3">
                    <input type="password" onfocus="this.value=''"  placeholder="Votre mot de passe" name="password" class="mb-3">
                    <div class="text-center">
                        <button class="site-btn">Connexion</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Domain search section end -->
{% endblock %}