{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Connexion {% endblock %}

{% block main %}
    <!-- Page Top section -->
    <section class="page-top-section set-bg" data-setbg="img/page-top-bg.jpg">
        <div class="container">
            <h2>S'enregistrer</h2>
            <div class="site-breadcrumb">
                <a href="home">Accueil</a> / <span>S'enregistrer</span>
            </div>
        </div>
    </section>
    <!-- Page Top section end -->

    <!-- Domain search section -->
    <section class="domain-search-section sc-about-page">
        <div class="container">
            <div class="section-title">
                <img src="./img/section-title-icon.png" alt="#">
                <p></p>
                <h2>Inscrtivez-vous</h2>
                <p class="mt-1"><a href="">Merci de renseigner un identifiant et un mot de passe pour créer votre compte et votre compte.</a></p>
            </div>
            <div class="domain-form-warp">
                <form class="domain-search-form  df-white-bg pt-4">
                    <input type="text" placeholder="Nom" class="mb-3">
                    <input type="text" placeholder="E-mail" class="mb-3">
                    <input type="text" placeholder="Identifiant" class="mb-3">
                    <input type="text" placeholder="Mot de passe">
                    <div class="mt-3">
                        <button class="site-btn">Connexion</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Domain search section end -->
{% endblock %}